template#pesanan-template
	div.container
		div#page-container-wrapper
			div.container-fluid
				h1 Data Pesanan
				button(class='btn btn-primary btn-lg' type='button' data-toggle='modal' data-target='#myModal') Tambah Pesanan
				hr
				div(class='modal fade' id='myModal' role='dialog')
					div(class='modal-dialog')
						div(class='modal-content')
							div(class='modal-header')
								h4.modal-title Tambah Pesanan
							div.modal-body
								form.form-vertical
									div.form-group
										label.control-label Nama
										input(
						          type= 'text'
						          v-model= 'nama'
						          placeholder= 'nama'
						          class= 'form-control'
						        )
									div.form-group
										label.control-label Jenis
										input(
						          type= 'text'
						          v-model= 'jenis'
						          placeholder= 'jenis'
						          class= 'form-control'
						        )
									div.form-group
										label.control-label Jumlah
										input(
						          type= 'text'
						          v-model= 'jumlah'
						          placeholder= 'jumlah'
						          class= 'form-control'
						        )
									div.form-group
										label.control-label Tanggal
										input(
						          type= 'text'
						          v-model= 'jumlah'
						          placeholder= 'tanggal pesan'
						          class= 'form-control form_datetime'
						        )
							div.modal-footer
								button(class='btn btn-default' type='button' data-dismiss='modal') Close
				a(href='pesanform' class='btn btn-success') Tambah Pesanan
				hr
				table(class='table table-bordered table-stripped')
					thead
						tr
							th(rowspan='2' class='text-center') No
							th(rowspan='2' class='text-center') Nama
							th(rowspan='2' class='text-center') Jenis
							th(rowspan='2' class='text-center') Jumlah
							th(colspan='2' class='text-center') Tanggal
							th(rowspan='2' class='text-center') Status
						tr
							th(class='text-center') Pesan
							th(class='text-center') Diterima

					tbody
						tr(v-for='data_pesanan in pesanan.data')
							td(class='text-center') 1
							td(class='text-center') {{pesanan.nama}}
							td(class='text-center' v-if='data_pesanan.jenis="T"') Telur
							td(class='text-center' v-else) Daging
							td(class='text-center') {{data_pesanan.jumlah}}
							td(class='text-center') {{data_pesanan.tgl_pesan}}
							td(class='text-center') {{data_pesanan.tgl_sampai}}
							td(class='text-center' v-if='data_pesanan.status="Y"') Berhasil
							td(class='text-center' v-else) Gagal