template#profile-template
	div.container
		div#wrapper
			div#page-content-wrapper
				div.container-fluid
					h1 My Profile
					button(class='btn btn-primary btn-lg' type='button' data-toggle='modal' data-target='#myModal') Update Harga
				hr
				div(class='modal fade' id='myModal' role='dialog')
						div(class='modal-dialog')
							div(class='modal-content')
								div(class='modal-header')
									h4.modal-title Tambah Pesanan
								div.modal-body
									form.form-vertical
										div.form-group
											label.control-label Nama
											input(
							          type= 'text'
							          v-model= 'nama'
							          placeholder= 'nama'
							          class= 'form-control'
							        )
										div.form-group
											label.control-label Alamat
											input(
							          type= 'text'
							          v-model= 'alamat'
							          placeholder= 'alamat'
							          class= 'form-control'
							        )
										div.form-group
											label.control-label No Telepon
											input(
							          type= 'text'
							          v-model= 'jumlah'
							          placeholder= 'no telepon'
							          class= 'form-control'
							        )
										div.form-group
											label.control-label Password
											input(
							          type= 'text'
							          v-model= 'jumlah'
							          placeholder= 'password'
							          class= 'form-control form_datetime'
							        )
								div.modal-footer
									button(class='btn btn-default' type='button' data-dismiss='modal') Close
					hr
					form.form-vertical
						div.row
							div.col-sm-10
								div.form-group
									label.control-label Nama
									input(
										readonly
        						type= 'text'
        						v-model= 'no_telp'
        						placeholder= 'email'
        						class= 'form-control'
      						)
								div.form-group
									label.control-label Alamat
									input(
										readonly
										type= 'text'
										v-model= 'no_telp'
										placeholder= 'email'
										class= 'form-control'
									)
								div.form-group
									label.control-label No Telepon
									input(
										readonly
										type= 'text'
										v-model= 'no_telp'
										placeholder= 'email'
										class= 'form-control'
									)
								div.form-group
									label.control-label Password
									input(
										readonly
										type= 'text'
										v-model= 'no_telp'
										placeholder= 'email'
										class= 'form-control'
									)