template#profile-template
	div.container
		div#wrapper
			div#page-content-wrapper
				div.container-fluid
					h1 My Profile
					a(href='pesanform' class='btn btn-success') Update Profile
					hr
					form.form-vertical
						div.row
							div.col-sm-10
								div.form-group
									label.control-label Nama
									input(
										readonly
        						type= 'text'
        						v-model= 'profile.nama'
        						placeholder= 'Nama'
        						class= 'form-control'
      						)
								div.form-group
									label.control-label Alamat
									input(
										readonly
										type= 'text'
										v-model= 'profile.alamat'
										placeholder= 'Alamat'
										class= 'form-control'
									)
								div.form-group
									label.control-label No Telepon
									input(
										readonly
										type= 'number'
										v-model= 'profile.no_telp'
										placeholder= 'Nomor Telepon'
										class= 'form-control'
									)