template#login-template
  div.container 
    div(class='card card-container')
      p(style=text align = 'center') Bejan's Chicken Farm Login
      img(class='profile-img-card' src='img/farm.png')
      form.form-signin(v-on:submit.prevent= 'doLogin()')
        input(
          type= 'text'
          v-model= 'no_telp'
          placeholder= 'email'
          class= 'form-control'
        )
        input(
          type= 'password'
          v-model= 'password'
          placeholder= 'password'
          class= 'form-control'
        )
        input(
          type= 'submit'
          value= 'Login'
          class= 'btn btn-lg btn-block btn-signin'
        )
        input(
          type= 'submit'
          value= 'Register'
          class= 'btn btn-lg btn-block btn-signin'
        )